<header>
  <div class="header-inner">
    <div>食事メニューの投稿</div>
    <%= link_to image_tag("kinkomilogo2.png", class:"top-page"), "/" %>
  </div>
</header>
<div class="center-contents-index">
  <div class="post-space-index">
    <% @posts.each do |post| %>
      <div id="post_<%= post.id %>">
        <%= render 'posts/post', post: post %>
      </div>
    <% end %>
  </div>
</div>