<header>
  <div class="header-inner">
    <div>肩トレの投稿</div>
    <%= link_to '筋コミ', '/', class: 'top-page' %>
  </div>
</header>
<div class="center-contents-index">
  <div class="post-space-index">
    <% @posts.each do |post| %>
      <tr id="<%= post.id %>">
        <%= render 'post', post: post %>
      </tr>
    <% end %>
  </div>
</div>