<header>
  <div class="header-inner">
    <div class="toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="mask"></div>
    <div class="header-inner-title">肩トレの投稿</div>
    <%= link_to image_tag("kinkomilogo2.png", class:"top-page"), "/" %>
  </div>
</header>
<%= render 'posts/posts', post: @post %>