<header>
  <div class="header-inner">
    <div>
      <%= @nickname %>さんの投稿一覧
    </div>
    <%= link_to image_tag("kinkomilogo2.png", class:"top-page"), "/" %>
  </div>
</header>
<div class="center-contents-user-show">
  <div class="post-space-index">
    <% @posts.each do |post| %>
      <p id="post_<%= post.id %>">
        <%= render 'posts/post', post: post %>
      </p>
    <% end %>
  </div>
</div>