<div class="post-space">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="more">
        <span>...</span>
        <ul class="more_list">
          <li>
            <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
          </li>
        </ul>
      </div>
      <div class="post-content">
        <p>nickname: </p>
        <p>トレーニング名: <%= post.name %></p>
        <p>説明: <%= post.description %></p>
        <%#ここに動画が入る？%>
      </div>
    </div>
  <% end %>
</div>