/* リセットcss============================================== */
* {
  box-sizing: border-box;
 }
 
 html,
 body,
 ul,
 li,
 h1,
 h2,
 p,
 div {
  margin: 0;
  padding: 0;
 }


 body {
  /* font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif; */
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  color: #3b4043;

 }
 
 li {
  list-style: none;
 }
 
 img {
  max-width: 100%;
  vertical-align: bottom;
 }
 
 a {
  text-decoration: none;
  color: #3b4043;
 }
 /* リセットcssここまで============================================================= */
 .wrapper{
  display: flex;
}
.left-bar{
  background-color: orange;
  width: 300px;
  height: 100vh;
  border-right: 1px solid #212222;
}
.left-header{
  background-color: rgb(255, 208, 0);
  height: 80px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}
.left-header a{
}
.left-header p{
  text-align: center;
  font-size: 8px;
}
.login-bar{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.user-new{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.user-nickname{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.post-new{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.menu-day{
  height: clac(100% - 180px);
  padding: 100px 0;
  text-align: center;
  color: #212222;
  font-size: 24px;
}
.menu-day p{
  margin: 20px 0;
}
.center-contents{
  background-color: #eee;
  width: calc(100% - 650px);
  height: 100vh;
}
.center-header{
  height: 40px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid  #212222;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}
.post-space{
  height: calc(100% - 30px);
  overflow-y: scroll;
  overflow: hidden visible;
}
.post-create{
  text-align: center;
}
.post-create p{
  margin-top: 30px;
}

.like-btn{
  margin: 10px 0;
}
/* .video-space p{
  width: 650px;
  height: 380px;
} */
.video{
  width: 650px;
  height: 380px;
  margin: 0 auto;
}

.hidden{
  display: none;
}
/* .field{
  margin-top: 30px;
  text-align: center;
} */
.actions{
  margin-top: 30px;
  text-align: center;
}
.more{
  display: flex;
  justify-content: space-around;
}
.edit-btn,.delete-btn{
  padding: 0 30px;
  margin: 14px 0;
  font-size: 22px;
}
