/* リセットcss============================================== */
* {
  box-sizing: border-box;
 }
 
 html,
 body,
 ul,
 li,
 h1,
 h2,
 p,
 div {
  margin: 0;
  padding: 0;
 }


 body {
  /* font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif; */
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  /* height: 100vh; */
  word-wrap: break-word;
  overflow-wrap: break-word;
 }
 
 li {
  list-style: none;
 }
 
 img {
  max-width: 100%;
  vertical-align: bottom;
 }
 
 a {
  text-decoration: none;
  color: #3b4043;
 }
 /* リセットcssここまで============================================================= */
 .wrapper{
  display: flex;
}
.left-bar{
  background-color: orange;
  width: 300px;
  height: 100vh;
  border-right: 1px solid #212222;
}
.left-header{
  background-color: rgb(255, 208, 0);
  height: 80px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}
.left-header p{
  text-align: center;
  font-size: 8px;
}
.login-bar{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.user-new{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.user-nickname{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.user-info{
  width: 110px;
  height: 70px;
  padding: 10px 0;
  background-color: #eee;
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 130px;
  left: 180px;
}

.post-new{
  height: 50px;
  padding: 8px;
  font-size: 22px;
  border-bottom: 1px solid #212222;
  text-align: center;
}
.menu-day{
  height: calc(100% - 180px);
  padding: 100px 0;
  text-align: center;
  color: #212222;
  font-size: 24px;
}
.menu-day p{
  margin: 20px 0;
}
.center-contents{
  background-color: #eee;
  width: calc(100% - 650px);
  height: 100vh;
}
.center-header{
  height: 40px;
  color: #FFF;
  background-color: #666666;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid  #212222;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}
.post-create p{
  margin-top: 30px;
}
.video{
  width: 650px;
  height: 380px;
  margin-left: auto;
  margin-left: auto;
}
.hidden{
  display: none;
}
.actions{
  margin-top: 30px;
  text-align: center;
}
.more{
  display: flex;
  justify-content: space-around;
}
.edit-btn,.delete-btn{
  padding: 0 30px;
  margin: 14px 0;
  font-size: 22px;
}
.error-message{
  color: red;
  text-align: center;
}


header{
  height: 60px;
  width: 100vw;
  background-color: #3b4043;
}
.header-inner{
  max-width: 768px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 5px 10px;
}
.header-inner a{
  color: #fff;
}
.top-page{
  color: #fff;
  font-size: 30px;
}
/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.open nav {
  left: 0;
  opacity: 1;
}
nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 80px;
  left: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  left: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
  width: 16px;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(-1px,4px) rotate(-45deg);
  transform: translate(-1px,4px) rotate(-45deg);
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(-1px,-4px) rotate(45deg);
  transform: translate(-1px,-4px) rotate(45deg);
}
@media screen and (max-width: 767px) {
  .open .toggle_btn {
    left: 250px;
  }
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}
/*============
main
=============*/
main {
  width: 100%;
  /* padding: 50px 0; */
  transition: all .5s;
}
.open main {
  margin-left: 300px;
}
