.center-contents-index{
  background-color: #fff;
  width: calc(100% - 650px);
  height: 100vh;
}
.post-space-index{
  height: calc(100% - 30px);
  overflow-y: scroll;
  overflow: hidden visible;
}
.weight-bold-text-index{
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}
.training-name{
  margin-bottom: 10px;
}
.posts{
  width: 100%;
  height: 540px;
  padding: 30px;
  border-bottom: 1px solid #212222;
  position: relative;
}
.posts a{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.right-bar-index{
  background-color: #eee;
  width: 350px;
  height: 100vh;
  border-left: 1px solid #212222;
}
