.center-header-new{
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #212222;
}
.center-contents-new{
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow: hidden visible;
}
.post-create{
  width: 768px;
  height: 100vh;
  padding: 50px;
  margin: auto;
  background-color: #fff;
  text-align: center;
}
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin: 30px 0 15px 0;
}

.posts-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}
.category-select{
  height: 30px;
  width: 300px;
  background-color: #f5f5f5;
}

.post-btn-contents{
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.post-btn{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}


/* スマホ表示時 */
@media (max-width: 599px) {
  .post-create{
    padding: 10px;
    width: 375px;
    margin-top: 50px;
  }
  .post-btn-contents{
    margin: 15px auto;
  }
}